{{!-- Nav Bar --}}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">Celebrity News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-btn" href="/scrape">Scrape Articles!</a>
      </li>
    </ul>
  </div>
</nav>


{{!-- Articles --}}
<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Get the Latest Celebrity News!!</h1>
    <p class="lead">To view the latest articles simply click on the Scrape Articles button above. You can even choose which articles to read by clicking the Saved Button!</p>
  </div>
</div>



  {{#each results}}
  <div class="row article data-id={{this._id}}" >
    <div class="col-sm-12">
      <p>Title: {{this.title}}</p>
      <p>Link: <a href={{this.link}} target="_blank">{{this.link}}</a></p>

      <button type="button" class="btn btn-primary align-middle save-btn" data-id={{this._id}}>Save Article</button>
    </div>
  </div>
  {{/each}}

</div>
<br/>

